<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <style>
        body { background:#0f172a; color:white; font-family:Arial; }
        .box { max-width:600px; margin:auto; padding:20px; }

        .item {
            background:#1e293b;
            padding:10px;
            margin:10px 0;
            border-radius:8px;
        }
    </style>
</head>
<body>

<div class="box">
    <h1>📊 Dashboard</h1>

    <p>Total Scans: {{ total }}</p>

    {% for h in history %}
        <div class="item">
            🌐 {{ h.url }} <br>
            🔍 Issues: {{ h.count }}
        </div>
    {% endfor %}
</div>

</body>
</html>
